.uploadStyleForm {
    margin-top: 100px;
    align-content: center;
}

.uploadStyleTitle {
    margin-top: 50px;
    align-content: flex-start;
}

.uploadStyleTable {
    margin-top: 100px;
    align-content: center;
}

.barStyle {
    height: 25px !important;
}