<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu_style.css')}}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <title>Marketing Eventos</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <img src="../static/img/logo.png" />
      <a class="navbar-brand" href="#">Mídia Eventos</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('home') }}">Informações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('upload') }}">Lista de Convidados</a>
        </li>
        </ul>
      </div>
    </nav>
    {% block conteudo %} {% endblock conteudo %}
  </body>
</html>
